.login {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.login h1 {
  font-family: var(--primary-font);
  color: var(--nevy-blue);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 23px;
}
.signin_btn button {
  padding: 18px !important;
  margin-top: 30px !important;
  background-color: var(--primary-color) !important;
  border-radius: 50px !important;
}
.signin_btn {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.login p {
  margin-top: 15px;
  color: var(--blue-color);
  font-family: var(--primary-font);
}
.login p span {
  color: var(--orange-color);
  font-family: var(--primary-font);
}
.signin_auth {
  text-align: center;
  margin-top: 23px;
}
.signin_error {
  margin-top: 10px !important;
  color: rgb(248, 106, 106) !important;
}
.forget span {
  margin-top: 15px;
  font-family: var(--primary-font);
}
