:root {
  --primary-font: "Nunito", sans-serif;
  --primary-color: #5f35f5;
  --nevy-blue: #11175d;
  --black-color: #000000;
  --gray-color: #333;
  --white-color: #fcfcfc;
  --orange-color: #ea6c00;
  --blue-color: #03014c;
  --subtext-color: #a3a0a0;
  --searchBox-bg: #f6f6f6;
  --close-color: #f0f0f0;
}
body {
  background-color: var(--searchBox-bg);
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
